<form action="/member/sign_up_process", method='post'>
   email: <br/>
   <input type="text" name="email"> <br/>
   password: <br/>
   <input type="password" name="password"> <br/>
   confirm password: <br/>
   <input type="password" name="confirm_password"> <br/>
   age: <br/>
   <input type="text" name="age"> <br/>
   realname: <br/>
   <input type="text" name="realname"> <br/>
   nickname: <br/>
   <input type="text" name="nickname"> <br/>
   <br/><br/>
   <input type="submit">
</form>
